* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    /*10px = 1rem*/
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: url(./img/Falling-04.jpg) no-repeat;
    background-size: cover;
}

@keyframes slideInLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(calc(100%));
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(calc(100%));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideInTop {
    from {
        opacity: 0;
        transform: translateY(calc(-15%));
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dashboard {
    position: relative;
    width: 390px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 25px;
    border-top: 1px solid rgb(240, 240, 240);
    border-left: 1px solid rgb(240, 240, 240);
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.15);
    padding-top: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.dashboard #play {
    font-size: 2.8rem;
    background-color: white;
    padding: 12px 15px;
    border-radius: 50px;
}

.dashboard #pause {
    display: none;
}

.dashboard.playing #pause {
    font-size: 2.8rem;
    background-color: white;
    padding: 12px 17px;
    border-radius: 50px;
    display: inline-block;
}

.dashboard.playing #play {
    display: none;
}

.btn-play {
    width: 50px;
    text-align: center;
}

.btn-playlist {
    font-size: 2.2rem;
    cursor: pointer;
}

.btn-playlist.active {
    color: #ff7c44;
}

.btn.active {
    color: #ff7c44;
}

.cd {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 250px;
    height: 250px;
    border-radius: 125px;
    background-image: url(./img/music/vadcb.jfif);
    background-size: 250px;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.name h2 {
    font-size: 2.2rem;
    text-align: center;
}

.name h4 {
    font-size: 1.8rem;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.9);
}

.control {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    align-items: center;
}

.btn i {
    cursor: pointer;
    font-size: 2.8rem;
}

.btn i:hover {
    color: #ff7c44;
}

.progress {
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
}

.time {
    display: flex;
    justify-content: space-between;
    font-size: 2.2rem;
}

.playlist {
    position: absolute;
    width: 90%;
    height: 100%;
    top: 0;
    right: 380px;
    background-color: rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgb(240, 240, 240);
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: auto;
    animation: slideInRight 0.6s ease;
}

.playlist.active {
    display: none;
    animation: slideInLeft 0.6s ease;
}

.playlist::-webkit-scrollbar {
    width: 3em;
}

.playlist::-webkit-scrollbar-track {
    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.playlist::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.song {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 7px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.song.active {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.song:active {
    opacity: 0.75;
}

.thumb img {
    width: 60px;
    height: 60px;
    margin: 2px 12px;
    border-radius: 5px;
    padding-top: 2px;
    padding-right: 2px;
}

.title {
    font-size: 1.6rem;
    padding: 2px 0;
}

.author {
    padding: 2px 0;
}

.author,
.icon-op {
    font-size: 1.4rem;
}

.volumn {
    text-align: center;
}

.volumn i {
    font-size: 2rem;
    cursor: pointer;
}

.volumn .mute {
    display: none;
}

.volumn-value {
    cursor: pointer;
}

.pile1 {
    width: 55px;
    position: absolute;
    right: -8px;
    top: -8px;
    transform: rotate(20deg);
}
.pile2 {
    width: 50px;
    position: absolute;
    top: -10px;
    left: 20px;
    transform: rotate(6deg);
}
.pile3 {
    width: 110px;
    position: absolute;
    top: -20px;
    left: 180px;
    transform: rotate(5deg);
}

.snow,
.snow:before,
.snow:after {
    position: fixed;
    top: -650px;
    left: 0;
    bottom: 0;
    right: 0;
    background-image:
        radial-gradient(4px 4px at 100px 50px, #fff, transparent),
        radial-gradient(5px 5px at 170px 120px, #fff, transparent),
        radial-gradient(6px 6px at 200px 150px, #fff, transparent),
        radial-gradient(7px 7px at 330px 280px, #fff, transparent),
        radial-gradient(3px 3px at 270px 220px, #fff, transparent),
        radial-gradient(3px 3px at 300px 250px, #fff 50%, transparent),
        radial-gradient(4px 4px at 400px 350px, #fff 50%, transparent),
        radial-gradient(4px 4px at 430px 480px, #fff 50%, transparent),
        radial-gradient(5px 5px at 470px 420px, #fff 50%, transparent),
        radial-gradient(6px 6px at 500px 100px, #fff 50%, transparent),
        radial-gradient(3px 3px at 50px 200px, #fff 50%, transparent),
        radial-gradient(5px 5px at 90px 240px, #fff 50%, transparent),
        radial-gradient(4px 4px at 150px 300px, #fff 50%, transparent),
        radial-gradient(5px 5px at 220px 370px, #fff 50%, transparent),
        radial-gradient(5px 5px at 260px 410px, #fff 50%, transparent),
        radial-gradient(6px 6px at 250px 400px, #fff 50%, transparent),
        radial-gradient(4px 4px at 170px 320px, #fff 50%, transparent),
        radial-gradient(5px 5px at 380px 530px, #fff 50%, transparent),
        radial-gradient(3px 3px at 350px 500px, #fff 50%, transparent);
    background-size: 650px 650px;
    animation: snow 3s linear infinite;
    content: "";
}

.snow:after {
    margin-left: -250px;
    opacity: 0.5;
    filter: blur(2px);
    animation-duration: 6s;
    animation-direction: reverse;
}

.snow:before {
    margin-left: -350px;
    opacity: 0.7;
    filter: blur(1px);
    animation-duration: 9s;
    animation-direction: reverse;
}

@keyframes snow {
    to {
        transform: translateY(650px);
    }
}

@media screen and (max-width: 767px) {
    .playlist {
        position: absolute;
        width: 100%;
        height: 90%;
        top: 45px;
        right: 0;
        background-color: rgba(255, 255, 255, .5);
        border-top: 1px solid rgb(240, 240, 240);
        box-shadow: 0 7px 7px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        overflow: auto;
        animation: slideInTop 0.6s ease;
    }

    .song {
        background-color: rgb(231, 231, 231);
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    }
    
    .song.active {
        background-color: #ff7c44;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
    }
    
    .song:active {
        opacity: 1;
    }
}